.card{
// Functionality of Card
 perspective: 150rem;
 -moz-perspectivee: 150rem;
 position: relative;
 height:52rem;
  &__side{
   // this is what the behind part of the card looks like
   height:52rem;
   font-size: 2rem;
   transition: all .8s ease;
   position: absolute;
   top:0;
   left:0;
   width:100%;
   backface-visibility: hidden;
   // the backface visibility it hides the backpart of the element
   border-radius: 3px;
   box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
   overflow: hidden;
   &--front{
   background-color: $color-white;
  }
  &--back{
   transform: rotateY(180deg);
   // this transform function will make the element be 180 degrees not 0. This is because the element needs to flip to 0 for the text to be in the correct reading format.
   &-1{
    background-image: linear-gradient(
     to right bottom,
     $color-tertiary-light,
     $color-tertiary-dark)
   }
   &-2{
    background-image: linear-gradient(
     to right bottom,
     $color-secondary-light,
     $color-secondary-dark)
   }
   &-3{
    background-image: linear-gradient(
     to right bottom,
     $color-quad-light,
     $color-quad-dark)
   }
  }
 }
 &:hover &__side--front{
  transform: rotateY(-180deg);
  // this line allows for the card flip on the hover effect we use a negative for the animation flow to flip the same direction
 }
  &:hover &__side--back{
   transform: rotateY(0deg);
   // this line flip the back side from 180 to 0 degrees
  }

 // Front side styling
 &__picture{
  // background blend mode; This is a modifier that specifies how the images should blend
  //Because the image overlaps the parent element we lose the border radius, to return the radius back to it's rounded corners we set the property overflow:hidden, because the parent element is being overflowed by the imageelemtn
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  &--1{
   background-image: linear-gradient(
    to right bottom,
    $color-tertiary-light,
    $color-tertiary-dark),
    url('img/nat-5.jpg');
  }
  &--2{
   background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark),
    url('img/nat-6.jpg');

  }
  &--3{
   background-image:linear-gradient(
    to right bottom,
    $color-quad-light,
    $color-quad-dark),
    url('img/nat-7.jpg');
  }
 }
 &__heading{
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color:$color-white;
  position: absolute;
  top:12rem;
  right:2rem;
  width: 75%;
  z-index: 1;
 }
 &__heading-span{
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break:clone;
  box-decoration-break: clone;
  &--1{
   background-image: linear-gradient(
   to right bottom,
   rgba($color-tertiary-light, .85),
   rgba($color-tertiary-dark, .85));
  }
  &--2{
   background-image: linear-gradient(
    to right bottom,
    rgba($color-secondary-light, .85),
    rgba($color-secondary-dark, .85));
  }
  &--3{
   background-image:linear-gradient(
    to right bottom,
    rgba($color-quad-light, .85),
    rgba($color-quad-dark, .85))
  }
 }
 &__details{
  padding: 3rem;
  ul{
   list-style: none;
   width: 80%;
   margin:0 auto;
  // when centering a block element inside another block element we can use the margin :0 auto standard to get it to be centered properly
  }
  li{
   text-align: center;
   font-size: 1.5rem;
   padding: 1rem;
   &:not(:last-child){
    border-bottom: 1px solid #eee;
   }
/*
 To apply the heading style we need to add the text-decoration break to do that we need to nest another elemtn which is the heading span
*/
  }
 }
// Back Side Styling
 &__cta{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:90%;
// Because of our
  text-align: center;
 }
  &__price-box{
   text-align: center;
   margin-bottom: 8rem;
   color:$color-white;
  }
  &__price-only{
   font-size: 1.4rem;
   text-transform: uppercase;
  }
   &__price-value{
   font-size: 6rem;
   font-weight: 400;
 }
}
