// Components are elements that follow BEM strategy
.composition{
 position:relative;
 &__photo{
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  //Because we are using an absolute positioning on the images we need to set a reference, to do so we use position:relative usually on the parent element
  transition: all .2s;
  outline-offset:2rem;
  // ------ REsponsive web design-----
 // Ideal to use % to adapt to the page
  &--p1{
   left:20rem;
   top:-6rem;

  }
  &--p2{
   right:50%;
   top:2rem;
   }
  &--p3{
   left:35%;
   top:10rem;
  }
  &:hover{
   outline: 1.5rem solid $color-primary;
   // The outline property adds an outline border around the element
   transform: scale(1.05) translateY(.5rem);
   // translateY here will make thi image come up
   box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
   // When an item is scaled it should cast a bigger shadow we need to increase the box shadow
   z-index: 20;
  // to set images on top of each other we use z-index
  }

 }
 &:hover &__photo:not(:hover){
//composition:hover composition__photo:not(:hover) is what it translates to
  // What this does is it allows us to select different elements that are not in that hover state
  transform:scale(.8);
 }
}
