.section-about{
 background-color: $color-grey-light-1;
 padding:25rem 0rem;
// on our page we have a break between the header and main component we need to fill that break we make our equations.
// The heading is 95vh and the polygon cut is 75vh therefore 95-75 is 20vh that we need to account for
 margin-top: -20vh;
}
.section-features{
 padding: 20rem 0;
  height: 95vh;
  background-image:
   linear-gradient(
    to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark,.8)),
   url(img/nat-4.jpg);
 // imports for images are based on the main file
  background-size: cover;
  background-position: top;
  position: relative;
  transform: skewY(-7deg);
  // This is the
  margin-top: -10rem;
  // This transform functions takes the element and moves it physically by 7deg the we follow it up with & > * which means that it grabs all of the childs right after
  & > * {
   transform: skewY(7deg);
  }
  // & > * what this does is it grabs the direct child element
}
.section-tours{
  background-color: $color-grey-light-1;
  margin-top: -10rem;
  padding: 25rem 0 15rem 0;
}
.section-stories{
 padding:15rem 0;
 position:relative;

}
.section-booking{
 padding: 15rem 0;
 background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
.book{
 background-image: linear-gradient(
  105deg,
   rgba($color-white, .9)0%,
   rgba($color-white, .9)50%,
   transparent 50%),
   url(img/nat-10.jpg);
// solid color gradient, it's a gradient that can be broken up into smaller pieces
/*
          ------ linear-gradient ----------
      We can specify a gradient with a direction and a color at it's most useful, but we can also make the gradient cut into an angle, and it rotates the gradent, we can add an angle the x direction. If we put the values where we apply the full depth of the color we don't get the computed value for the transition of one color to the other. We might but it's a small calc.

     For this example we will be using transparent for the absense of color gradient

*/
 background-size: 100%;
 border-radius: $small-border-radius;
 box-shadow: 0 3rem 4rem rgba($color-black, .2);
 // because this is used throughout the code we can make this into a variable
 height: 50rem;
 &__form{
  width: 50%;
  padding: 6rem;
 }
}
