// Colors
$color-primary:#FF7043;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;

$color-secondary-light: #55c57a;
$color-secondary-dark: #28b485;

$color-tertiary-light:#ffb900;
$color-tertiary-dark:#ff7730;

$color-quad-light:#2998ff;
$color-quad-dark:#5643fa;


$color-white:#fff;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3: #333;

$color-black:#000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


// Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


// Font  It is a good idea to set up a universal font-size this is important because if a client wants to change the size of the font it is easier for us to send it them
$default-font-size:1.6rem;

// border-radius

$small-border-radius: 3px;
